## 1. Условие задачи

## 1.1. Вводные данные

Дана выгрузка данных пользователей в виде когортного анализа. Стоимость подписки, которую приобретали пользователи мобильного приложения – 9,99$.

## 1.2. Задача

Необходимо рассчитать прогнозный LTV24 (сколько нам принесет пользователь на протяжении 24-х месяцев использования приложения) на основании имеющихся данных.
Следует учитывать, что с покупки подписки 30% от стоимости подписки забирает Apple в первый год, 15% - во второй.

## 2. Решение

### 2.1. Идельный LTV24

In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

price = 9.99
apple_commition_first_year = 0.3
apple_commition_second_year = 0.15
month = 12

ltv24 = price * (1 - apple_commition_first_year) * month + price * (1 - apple_commition_second_year) * month

In [39]:
round(ltv24, 2)

185.81

### 2.2. Реальный LTV24

In [9]:
data_for_task_3 = pd.read_csv('data/Data_Analyst_3.csv', sep = ';')
data_for_task_3.head()

,Active monthly subscribers amount,Date,Trial,Month 1,Month 2,Month 3,Month 4,Month 5,Month 6,Month 7,...,Month 19,Month 20,Month 21,Month 22,Month 23,Month 24,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,NaN,01.04.2017,1501,711,437.0,286.0,206.0,142.0,116.0,95.0,...,15.0,14.0,11.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,01.05.2017,1253,544,338.0,246.0,178.0,138.0,109.0,89.0,...,15.0,13.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,01.06.2017,1226,522,319.0,228.0,169.0,133.0,99.0,82.0,...,21.0,19.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,01.07.2017,1484,538,297.0,201.0,147.0,112.0,85.0,77.0,...,18.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,01.08.2017,2009,775,449.0,317.0,257.0,198.0,170.0,148.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
data_for_task_3.fillna(0)

,Active monthly subscribers amount,Date,Trial,Month 1,Month 2,Month 3,Month 4,Month 5,Month 6,Month 7,...,Month 19,Month 20,Month 21,Month 22,Month 23,Month 24,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30
0,0.0,01.04.2017,1501,711,437.0,286.0,206.0,142.0,116.0,95.0,...,15.0,14.0,11.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,01.05.2017,1253,544,338.0,246.0,178.0,138.0,109.0,89.0,...,15.0,13.0,13.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,01.06.2017,1226,522,319.0,228.0,169.0,133.0,99.0,82.0,...,21.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,01.07.2017,1484,538,297.0,201.0,147.0,112.0,85.0,77.0,...,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,01.08.2017,2009,775,449.0,317.0,257.0,198.0,170.0,148.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,01.09.2017,2132,940,580.0,384.0,289.0,225.0,177.0,146.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,01.10.2017,1231,467,279.0,196.0,148.0,103.0,84.0,62.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,01.11.2017,1035,392,194.0,128.0,118.0,80.0,65.0,65.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,01.12.2017,511,241,127.0,94.0,87.0,57.0,51.0,47.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,01.01.2018,2167,756,439.0,311.0,244.0,186.0,140.0,119.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,01.02.2018,930,367,210.0,141.0,117.0,78.0,66.0,65.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,01.03.2018,1140,478,249.0,168.0,155.0,91.0,86.0,71.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,01.04.2018,961,413,190.0,144.0,130.0,80.0,70.0,64.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,01.05.2018,1018,400,195.0,144.0,132.0,76.0,74.0,70.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,01.06.2018,1009,336,178.0,116.0,107.0,66.0,59.0,58.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.0,01.07.2018,5507,1607,898.0,631.0,485.0,367.0,298.0,251.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,01.08.2018,15545,4001,2144.0,1445.0,1063.0,840.0,671.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,01.09.2018,4504,1498,859.0,588.0,437.0,343.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0.0,01.10.2018,7335,1598,865.0,594.0,439.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,01.11.2018,6890,1806,931.0,611.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,0.0,01.12.2018,1425,711,352.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,0.0,01.01.2019,1793,626,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
transaction_first_year = 52934
transaction_second_year = 1545
customers_first_month = 19727

In [40]:
real_ltv24 = (transaction_first_year * price * (1 - apple_commition_first_year) + transaction_second_year * price * (1 - apple_commition_second_year)) / customers_first_month
round(real_ltv24, 2)

19.43

## 3. Ответ

Прогнозный LTV24 — 19.43.